*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

/*THIS IS FOR CENTERING THE FORM*/
body#Container {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;    
    width: 100vw;     
    display: grid;    
    justify-content: center;    
    align-items: center;    
    color: #F7D08A;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 30px 54px 30px 30px;
    background-color: #9D5C0D;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    margin-left: 15PX;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    text-align: left;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-button {
    background-color: #E5890A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
div.errorMessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px;
}
/*Dashboard*/


/* Nav Section*/
/* Style the navigation bar */
.navbar {
    background-color: #333; /* Background color of the navbar */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding for top and bottom, left and right */
    display: flex; /* Display items horizontally */
    justify-content: space-between;/* Space items evenly */
    align-items: center; /* Vertically align items */
}

/* Style the title on the left side */
.navbar-title {
    font-size: 24px; /* Adjust font size as needed */
}

/* Style the user info on the right side */
.user-info {
    text-align: right; /* Right-align the text */
}

/* Add some margin between user info elements */
.user-info span {
    margin-left: 20px;
}



/*Header*/
/* Heading section includes logo, title and search bar*/
/* Style the header section */
.header {
    background-color: #9a7b7b; /* Background color for the header */
    color: #fff; /* Text color */
    padding: 20px; /* Padding for top and bottom, left and right */
    display: flex; /* Display items horizontally */
    justify-content: baseline; /* Space items evenly */
    align-items: center; /* Vertically align items */
}
/* Style the logo */
.logo {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin to separate the logo from the title */
}
/* Style the title */
.title {
    font-size: 40px; /* Adjust font size as needed */
    margin-right: 40px;
}

.Title-SearchBar{
    display :block;
    margin-left: 40px;
}

.Title-SearchBar p{
    font-size: 26px;
}

.search-withButton{
    display: flex;
}
/* Style the search bar */
.search-bar {
    flex: 1; /* Allow the search bar to expand and fill available space */
    margin-right: 10px;
    padding: 8px; /* Add some padding to the search input */
    border: none; /* Remove the default input border */
    border-radius: 5px; /* Apply rounded corners */
    background-color: #555; /* Background color for the search input */
    color: #fff; /* Text color for the search input */
    font-size: 16px; /* Adjust font size as needed */
    outline: none; /* Remove the outline when focused */
}
/* Style the search button */
.search-button {
    background-color: #f60; /* Background color for the search button */
    color: #fff; /* Text color for the search button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Apply rounded corners */
    padding: 20px 16px; /* Add padding to the button */
    cursor: pointer; /* Add pointer cursor on hover */
}

/*Button Section*/
.button-section{
    display: flex;
    justify-content: center;
}
.button-section a{
    text-decoration: none;
    margin: 20px;
    background-color: #f60; /* Background color for the search button */
    color: #fff; /* Text color for the search button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Apply rounded corners */
    padding: 15px 15px; /* Add padding to the button */
    cursor: pointer; /* Add pointer cursor on hover */
}
/*Dasbord container*/


div.dashboard_content{
    display: flex;
    flex-direction: row;
    padding: 50px 10px 10px 10px;
    width: 100%;
    background: #f4f6f9;
}
div.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 500px;
}


/*users-add*/


form.appForm{
    width: 90%;
    margin: 0 auto;
    padding:10px;
    border: 1px solid #cecfd0;
    border-radius: 5px;
}
form input.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
}
div.appFormInputContainer{
    margin-bottom: 15px;
}
div#userAddFormContainer{
    padding-top: 100px;
}
button.appBtn{
    background: #f685a1;
    border: 1px solid #f685a1;
    color:#fff;
    padding: 10px;
    margin-top: 20px;
}
p.responseMessage{
    font-size: 18px;
    text-align: center;
    margin-top: 33px;
    padding: 20px;
}
p.responseMessage_error{
    background: rgba(128 ,0 ,0 ,0.1);
}
p.responseMessage_success{
    background: rgba(0 ,128 ,0 ,0.1);
}

/*user Add Page*/
div.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
div.column{
    width: 100%;
    padding: 0 10px;
}
h1.section-header{
    font-size: 21px;
    color: #d1802f;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #f690bf;
    margin-bottom: 15px;
}
table, th, td{
    border: 1px solid #cacaca;
    border-collapse: collapse;
}
table{
    width: 100%;
}
table th{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;
}
table td{
    font-size: 13px;
    text-align: center;
}
.productTextAreaInput{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border-color: #d7d7d7;
}
img.productImages{
    width: 100px;
    height: 100px;
}
#suppliersSelect, #products{
    display: block;
    width: 100%;
    max-height: 100px;
    height: 100%;
    border-color: #d2d2d2;
}
.orderProductBtn{
    background: #d93f65;
    color: #fff;
}
.orderBtn{
    height: 33px;
    border: none;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;
}
.submitOrderProductBtn{
    background: #323232;
    color: #ffffff ;
    font-weight: bold;
}
.marginTop20{
    margin-top: 20px;
}
.alignRight{
    text-align: right;
}
#orderProductList{
    margin-top: 20px;
}
.productNameSelect{
    font-size: 15px;
    border: none;
    background: #fafafa;
    padding: 3px 17px;
    border-radius: 1px solid #b0b0b0;
    border-radius: 2px;
}
div.orderProductRow{
    padding: 6px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    padding-top: 25px;
}
.orderProductQty{
    height: 33px;
    border: none;
    background: #f8f8f8;
    text-indent: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}
#orderProductList .row{
    margin: none !important;
}
.suppliersRows{
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #a1a1a1;
    text-transform: uppercase;
}
.suppliersRows .row{
    padding: 8px 0px;
}
.btn{
    border: none;
    padding: 4px 8px;
    background: #ff5858;
    border-radius: 2px;
}
.removeOrderBtn{
    background: #ff5858;
    color: #fff;
    float: right;
}
.box{
    display: flex;
    justify-content: flex-start;
    padding: 10px 31px;
}
.reportType{
    border: 1px solid #c2c6c2;
    padding: 10px 24px;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    margin-left: 21px;
    width: 100%;
}
.reportExportBtn{
    padding: 4px 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #f685a1;
    color: white;
    margin-right: 13px;
}
.reportType p{
    font-size: 18px;
    font-weight: 200px;
    margin-bottom: 10px;
}