body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
/*Navigation Bar*/
.navbar{
    background-color: #353945;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-title{
    font-size: 30px;
    margin: 0 20px;
}

/* Product Form*/
.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    font-size: 18px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-add {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #45a049;
}